<section class="py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 mb-4 mb-lg-0">
        <img
          src="https://images.unsplash.com/photo-1754398006556-bedbc3b74bf5"
          alt="Nasz sklep"
          class="img-fluid rounded shadow"
        />
      </div>

      <div class="col-lg-6">
        <h2 class="mb-4">Poznaj naszą historię</h2>
        <p class="mb-3">
          Świeży Sklepik to rodzinny sklep spożywczy z ponad 20-letnim
          doświadczeniem. Nasza pasja do świeżych produktów i obsługa klienta
          sprawiły, że staliśmy się ulubionym miejscem zakupów dla całej dzielnicy.
        </p>

        <p class="mb-4">
          Współpracujemy tylko z najlepszymi lokalnymi dostawcami, aby zapewnić
          najwyższą jakość produktów na naszych półkach.
        </p>

        <a routerLink="/about" class="btn btn-primary">Dowiedz się więcej</a>
      </div>
    </div>
  </div>
</section>
